/* Estilos CardDinamic */

.cardDinamic{
    width: 90% !important;
    max-height: 32rem !important;
    margin: 2rem;
  }

  .cardDinamic:hover{
      border: 1px solid rgb(0, 0, 0);
  }

.flexHeader{
    display: flex;
}

.titAndDate{
    line-height: .5rem !important;
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.MuiCardHeader-avatar{
    margin: 0 !important;
}