/* Estilos cards */
.carta{
  width: 100% !important;
  height: 100% !important; 
}

.imagenCiudad{
  width: 100% !important;
  height: 100% !important;
}

.textCard{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title{
  font-size: 2rem !important;
}