@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Pragati+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.NavBar{
    width: 100%;
    height: 10vh;
    padding: 0 3rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.box1nav{
  display: flex;
}  

.box2nav{
  display: flex;
} 

.links{
  margin-left: 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: 'Archivo', sans-serif;
}

.btnNav{
  padding: .5rem;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  transition: 500ms;
}

.btnNav:hover{
  color: white;
  background-color: #03B5AA;
}
  
.containerHero{
    width: 100%;
    min-height: auto;
    padding-right: 5rem;
    padding-left: 5rem;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.150)), url(../assets/panorama-2117310.jpg) !important;
    background-size: initial;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .containerLogo{
      max-width: 35rem;
      margin: 2rem 0;
      padding: 7rem 3rem;
      border-radius: 1rem;
      background-color: rgba(128, 128, 128, 0.739);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.5rem;
  }

  .logo{
     width: 15rem;
  }

  .logoPequeño{
      width: 5rem;
  }

  .user{
    width: 2.5rem;
    margin-left: 1rem;
  }

  .slogan{
      max-width: 28rem;
      text-align: center;
      margin-top: -.5rem;
      font-size: 1.5rem;
      color: white;
      font-family: 'Play', sans-serif;
  }

.boxCallToAction{
  width: 100%;
  min-height: auto;
  padding: 1rem 10rem;
  background-color: white;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.call{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
}

.btnCall{
  width: auto;
  padding: .5rem;
  margin-top: 1.5rem;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  transition: 500ms;
  font-family: 'Archivo', sans-serif;
}

.btnCall:hover{
  color: white;
  background-color: #03B5AA;
}

.imgCall{
  margin: 1.5rem 0;
  min-width: 25rem;
  min-height: 20rem;
  max-width: 35rem;
  max-height: 25rem;
  border-radius: 1rem;
}

.boxFooter{
  width: 100%;
  min-height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.boxNavFooter{
  min-height: 7rem;
  display: flex;
  flex-wrap: wrap;

}

.info{
  max-width: 70%;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  font-family: 'Play', sans-serif;
  line-height: 1.3rem;
}

.boxInfo{
  min-width: 11rem;
  margin-right: 2rem;
}

.cierre{
  max-width: 70%;
  /* background-color: rgba(255, 0, 0, 0.411); */
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-family: 'Play', sans-serif;
}

.boxInProcess{
  width: 100%;
  min-height: auto;
  background-color: rgba(202, 202, 202, 0.678);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.boxInProcess2{
  width: 100%;
  min-height: 100vh;
  background-color: rgba(202, 202, 202, 0);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* estilos para el input */
.containerInput{
  width: 26rem;
  margin-top: 2rem;
  margin-right: 9rem;
  display: flex;
}

.inputSearch{
  width: 100% !important;
}

.nombreLogo{
  font-family: 'Oooh Baby', cursive;
  color: #03B5AA;
  margin-bottom: 1rem;
}

.tittleCarousel{
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  font-family: 'Play', sans-serif;
  font-size: 2.5rem;
  color: #03B5AA;
}

